<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjc.mapper.test.TblUserMapper">
  <resultMap id="BaseResultMap" type="com.xjc.entity.test.TblUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, username, password, state, name, gender, birth
  </sql>

  <select id="queryUserByUsername" resultType="com.xjc.entity.test.TblUser" parameterType="java.lang.String">
    SELECT * FROM tbl_user WHERE username = #{username}
  </select>
</mapper>